<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cczu.zxks.mapper.ExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.cczu.zxks.entity.Exam">
        <id column="exam_id" property="exam_id" />
        <result column="exam_test" property="exam_test" />
        <result column="exam_question" property="exam_question" />
        <result column="exam_student" property="exam_student" />
        <result column="exam_answer" property="exam_answer" />
        <result column="exam_score" property="exam_score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exam_id, exam_test, exam_question, exam_student, exam_answer, exam_score
    </sql>

</mapper>
